<!doctype html>
<html lang="en" ng-app data-framework="angularjs">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AngularJS • TodoMVC</title>
        <link rel="stylesheet" href="static/bower_components/todomvc-common/base.css">
        <script src="static/bower_components/todomvc-common/base.js"></script>
        <script src="static/bower_components/angular/angular.js"></script>
        <script src="http://code.angularjs.org/1.2.0-rc.2/angular-animate.min.js"></script>
        <script src="static/js/controllers/loginCtrl.js"></script>

        <style>[ng-cloak] { display: none; }</style>
    </head>
    <body>
        <section id="todoapp" ng-controller="loginCrtl">
            <header id="header">
                <h1>SoftStar Todos</h1>
            </header>

            <div align="center">
            Login Page:
            <form ng-submit="login()">
                <input type="text" ng-model="username" name="username" placeholder="Enter a name here" /><br/>
                <input type="text" ng-model="password" name="password" placeholder="Enter a password here" /><br/>
                <input type="submit" id="submit" value="login" />
            </form>
            </div>
        </section>

        <footer id="info">

        </footer>

    </body>
</html>
